@use "sass:color";
@use "sass:math";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

$bg: #12131c;
$push-color: hsla(10, 90%, 40%, 1);
$push-size: 240px;

////////////////////////////////////////////////////////////////////////////////
// Base Push
////////////////////////////////////////////////////////////////////////////////
[class*="push"] {
  position: relative;
  display: inline-block;
  width: $push-size;
  height: $push-size;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: $push-color;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;
}

////////////////////////////////////////////////////////////////////////////////
// Flat Push
////////////////////////////////////////////////////////////////////////////////
.push--flat {
  box-shadow:
    inset 0 math.div($push-size, 32) 0 color.adjust($push-color, $lightness: 5%),
    inset 0 ( math.div($push-size, 32)) 0 color.adjust($push-color, $lightness: -5%),
    inset 0 0 0 math.div($push-size, 32) color.adjust($push-color, $lightness: -3%),
    inset 0 0 0 math.div($push-size, 12) $push-color,
    inset 0 0 0 math.div($push-size, 10) color.adjust($push-color, $lightness: -20%),
    inset 0 0 0 math.div($push-size, 9.2) color.adjust($push-color, $lightness: -50%),
    inset 0 0 0 math.div($push-size, 7.5) color.adjust($push-color, $lightness: 30%, $alpha: -0.3),
    inset 0 0 0 math.div($push-size, 5.5) $push-color,
    inset 0 math.div($push-size, 2.5) math.div($push-size, 7.5) color.adjust($push-color, $lightness: -5%),
    inset 0 0 math.div($push-size, 10) math.div($push-size, 6) color.adjust($push-color, $lightness: -10%),
    0 math.div($push-size, 20) 0 rgba(0, 0, 0, 0.3);

  &:after {
    content: '';
    position: absolute;
    bottom: math.div($push-size, 20);
    left: math.div($push-size, 10);
    display: block;
    width: math.div($push-size, 1.25);
    height: math.div($push-size, 1.25);
    border: math.div($push-size, 15) solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 math.div($push-size, 15);
    border-radius: 50%;
    transition-duration: 200ms;
  }

  &:active,
  &.is-pushed {
    box-shadow:
      inset 0 math.div($push-size, 32) 0 color.adjust($push-color, $lightness: 5%),
      inset 0 ( math.div($push-size, 32)) 0 color.adjust($push-color, $lightness: -5%),
      inset 0 0 0 math.div($push-size, 32) color.adjust($push-color, $lightness: -3%),
      inset 0 0 0 math.div($push-size, 12) $push-color,
      inset 0 0 0 math.div($push-size, 10) color.adjust($push-color, $lightness: -20%),
      inset 0 0 0 math.div($push-size, 8.5) color.adjust($push-color, $lightness: -40%),
      inset 0 0 0 math.div($push-size, 7.5) color.adjust($push-color, $lightness: 30%, $alpha: -0.8),
      inset 0 0 0 math.div($push-size, 5.5) color.adjust($push-color, $lightness: -3%),
      inset 0 math.div($push-size, 2.5) math.div($push-size, 7.5) color.adjust($push-color, $lightness: -8%),
      inset 0 0 math.div($push-size, 10) math.div($push-size, 6) color.adjust($push-color, $lightness: -15%),
      0 math.div($push-size, 20) 0 rgba(0, 0, 0, 0.3);

    background-color: color.adjust($push-color, $lightness: -2%);

    &:after {
      bottom: math.div($push-size, 20) + math.div($push-size, 15);
      border-width: 0;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Skeuomorphic Push
////////////////////////////////////////////////////////////////////////////////
.push--skeuo {
  box-shadow:
    inset 0 math.div($push-size, 24) 0 color.adjust($push-color, $lightness: 5%),
    inset 0 ( math.div($push-size, 24)) math.div($push-size, 60)
      color.adjust($push-color, $lightness: -5%),
    0 0 math.div($push-size, 60) $push-color,
    inset 0 0 math.div($push-size, 30) color.adjust($push-color, $lightness: -15%),
    inset 0 0 math.div($push-size, 30) color.adjust($bg, $alpha: -0.5),
    inset 0 0 math.div($push-size, 60) math.div($push-size, 12) $push-color,
    inset 0 ( math.div($push-size, 30)) math.div($push-size, 40) math.div($push-size, 10)
      color.adjust($bg, $alpha: -0.3),
    inset 0 0 math.div($push-size, 60) math.div($push-size, 10)
      color.adjust($push-color, $lightness: -20%),
    inset 0 0 math.div($push-size, 60) math.div($push-size, 10)
      color.adjust($bg, $alpha: -0.3),
    inset 0 0 math.div($push-size, 120) math.div($push-size, 9.2)
      color.adjust($push-color, $lightness: -50%),
    inset 0 0 math.div($push-size, 120) math.div($push-size, 8)
      color.adjust($push-color, $lightness: 30%, $alpha: -0.3),
    inset 0 math.div($push-size, 20) 0 math.div($push-size, 8.5)
      color.adjust($push-color, $lightness: 15%, $alpha: -0.3),
    inset 0 ( math.div($push-size, 20)) math.div($push-size, 60) math.div($push-size, 8.5)
      color.adjust($push-color, $lightness: -10%, $alpha: -0.8),
    inset 0 0 0 math.div($push-size, 5.5) $push-color,
    inset 0 math.div($push-size, 2.5) math.div($push-size, 7.5)
      color.adjust($push-color, $lightness: -5%),
    inset 0 0 math.div($push-size, 10) math.div($push-size, 6)
      color.adjust($push-color, $lightness: -10%),
    0 math.div($push-size, 40) math.div($push-size, 20) rgba(0, 0, 0, 0.5);

  &:active,
  &.is-pushed {
    box-shadow:
      inset 0 math.div($push-size, 24) 0 color.adjust($push-color, $lightness: 5%),
      inset 0 ( math.div($push-size, 24)) math.div($push-size, 60)
        color.adjust($push-color, $lightness: -5%),
      0 0 math.div($push-size, 60) $push-color,
      inset 0 0 math.div($push-size, 30) color.adjust($push-color, $lightness: -15%),
      inset 0 0 math.div($push-size, 30) color.adjust($bg, $alpha: -0.5),
      inset 0 0 math.div($push-size, 60) math.div($push-size, 12) $push-color,
      inset 0 ( math.div($push-size, 30)) math.div($push-size, 40) math.div($push-size, 10)
        color.adjust($bg, $alpha: -0.3),
      inset 0 0 math.div($push-size, 60) math.div($push-size, 10)
        color.adjust($push-color, $lightness: -20%),
      inset 0 0 math.div($push-size, 60) math.div($push-size, 10)
        color.adjust($bg, $alpha: -0.3),
      inset 0 0 math.div($push-size, 40) math.div($push-size, 8.5)
        color.adjust($push-color, $lightness: -40%),
      inset 0 0 math.div($push-size, 120) math.div($push-size, 7.5)
        color.adjust($push-color, $lightness: 30%, $alpha: -0.8),
      inset 0 math.div($push-size, 20) 0 28px
        color.adjust($push-color, $lightness: 15%, $alpha: -0.5),
      inset 0 ( math.div($push-size, 20)) math.div($push-size, 60) 28px
        color.adjust($push-color, $lightness: -20%, $alpha: -0.8),
      inset 0 0 0 math.div($push-size, 5.5)
        color.adjust($push-color, $lightness: -3%),
      inset 0 math.div($push-size, 2.5) math.div($push-size, 7.5)
        color.adjust($push-color, $lightness: -8%),
      inset 0 0 math.div($push-size, 10) math.div($push-size, 6)
        color.adjust($push-color, $lightness: -15%),
      0 math.div($push-size, 40) math.div($push-size, 20) rgba(0, 0, 0, 0.5);

    background-color: color.adjust($push-color, $lightness: -2%);

    &:before {
      opacity: 0.5;
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: math.div($push-size, 4.5);
    left: math.div($push-size, 3.6);
    display: block;
    width: math.div($push-size, 2.2);
    height: math.div($push-size, 3.3);
    background: color.adjust($push-color, $lightness: 30%, $alpha: -0.8);
    background: linear-gradient(
      to top,
      color.adjust($push-color, $lightness: 40%, $alpha: -0.7) 0%,
      color.adjust($push-color, $alpha: -0.9) 100%
    );
    border-radius: 40% 40% 60% 60%;
    transition: opacity 200ms;
  }
}
